<div class="center jumbotron" style="margin-top: 50px">
  <h1>Welcome to the Food and Drink Store</h1>
  <%if !logged_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%end%>
</div>
  <h1>
  	This is our Menu
  </h1>
 
  <h2>
    <tbody>
      <div class="featured-block">
    <div class="row">
    <% @foods.each do |food| %>
      <div class="col-md-3">
        <div class="block">
          <div class="thumbnail"><a href="foods/<%=food.id%>"><img src = "<%=food.url%>"></a>
            <div class="caption">
              <h1><strong><%= food.name %></strong></h1>
              <% if logged_in? && current_user.admin?%>
              <p style="font-size: 20px">
              <%= link_to "EDIT" ,edit_food_path(food),class: "btn btn-lg btn-primary"%>
              <%= link_to "DELETE", food, method: :delete,
                                  data: { confirm: "You sure?" },class: "btn btn-lg btn-primary"%>
              </p>       
              <%end%>
              <%if logged_in? && !current_user.admin?%>
              <p><%= link_to "ORDER", '#', class: "btn btn-lg btn-primary" %></p>
               <%end%>
              </div>
          </div>
        </div>
      </div>
      <% end %>     
    </div>
    </div>
          
  </h2>



  
  
